<div class="container">

  <mat-spinner class="spinner" *ngIf="loading"></mat-spinner>

  <div class="row center-xs mt-xs nb-xs" *ngIf="productos">
      <mat-card class="card">
          <mat-card-header>
            <mat-card-title>{{productos.titulo}}</mat-card-title>
            <mat-card-subtitle>Categoria: {{productos.categoria}}</mat-card-subtitle>
          </mat-card-header>
          <img matCardImage [src]="productos.url" />
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                  <p class="text-left">Categoria: {{productos.categoria }}</p>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <p class="text-left">Titulo: {{productos.titulo}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <p class="text-left">Precio: {{ productos.precio }}</p>
            </mat-list-item>
        <mat-divider></mat-divider>
          </mat-list>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="onBack()">Volver</button>
          </mat-card-actions>
        </mat-card>
  </div>
  
</div>
